body {
    margin: 0;
    padding: 0;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .character {
    position: relative;
    width: 400px;
    height: 700px;
  }

  .face {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 180px;
    width: 180px;
    background-color: tan;
    border-radius: 50%;
    z-index: 1;
  }

  .eye1, .eye2 {
    position: absolute;
    top: 40px;
    height: 35px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
  }

  .eye1 {
    left: 95px;
  }

  .eye2 {
    right: 95px;
  }

  .pupil1, .pupil2 {
    position: absolute;
    top: 48px;
    height: 12px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
    z-index: 3;
  }

  .pupil1 {
    left: 107px;
  }

  .pupil2 {
    right: 107px;
  }

  .mouth {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 80px;
    background-color: pink;
    border-radius: 50%;
    z-index: 2;
  }

  .teeth1, .teeth2 {
    position: absolute;
    height: 10px;
    background-color: white;
    border-radius: 30%;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
  }

  .teeth1 {
    top: 125px;
    width: 47px;
  }

  .teeth2 {
    top: 145px;
    width: 51px;
  }

  .body1 {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    height: 230px;
    width: 140px;
    background-color: black;
    border-radius: 30%;
    z-index: 0;
  }

  .arm1 {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    width: 300px;
    background-color: blue;
    border-radius: 50%;
    z-index: -1;
  }

  .leg1, .leg2 {
    position: absolute;
    top: 410px;
    height: 180px;
    width: 75px;
    background-color: blue;
    border-radius: 50%;
    z-index: -2;
  }

  .leg1 {
    left: 100px;
  }

  .leg2 {
    right: 100px;
  }
